@model KayanHRTask.BL.Models.Users
@{
    ViewData["Title"] = "View";
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input readonly asp-for="UserName" class="form-control" />
                <span  asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input readonly asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>  
            <div class="form-group" style="margin-top:10px">
                <img width="200px" height="200px" src="~/images/@Model.ImageName" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>


        
        </form>
    </div>
</div>
<div>
    <a style ="margin-top: 10px;" class="btn btn-outline-primary" asp-action="AdminPage">Cancel</a>
</div>

